{{#each imports}}
  import {{key}} from "{{path}}";
{{/each}}

let __VERSION__ = "{{version}}";
let __NAME__ = "{{name}}";

import __MAIN__ from "{{mainPath}}";

let __EXPOSE__ = {{exportObject}};

let __BASE__ = __MAIN__();

Object.assign(__EXPOSE__, {
  __VERSION__: __VERSION__,
  __NAME__: __NAME__
});
Object.assign(__BASE__ || {}, __EXPOSE__);

{{registerCode}}

export default __BASE__;
