Object.defineProperty(exports,"__esModule",{value: true});
{{#if libSuffix}}
exports.default=window.GrimoireJS&&window.GrimoireJS.lib.{{libSuffix}}?window.GrimoireJS.lib.{{libSuffix}}{{separatedPath}}:undefined;
{{else}}
exports.default=window.GrimoireJS{{separatedPath}};
{{/if}}
