{{#each imports}}
  import {{key}} from "{{path}}";
{{/each}}

import __MAIN__ from "{{mainPath}}"

var __EXPOSE__ = {{exportObject}};

let __BASE__ = __MAIN__();

Object.assign(__BASE__|| {},__EXPOSE__);

export default __BASE__ as (typeof __BASE__ & typeof __EXPOSE__);
